body {
    background-color: rgb(14, 17, 22);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, main, footer {
    padding: 20px;
}

.big-header {
    position: relative;
    /* background-color: rgb(2, 4, 9); */
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.big-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/imgs/background.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

h1 {
    text-shadow: 0 0 5px #fff;
}

.scroll-message {
    margin-top: 20px;
    animation: bob-glow 1.5s infinite alternate;
    cursor: pointer;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff;
    }
    to {
        text-shadow: 0 0 10px #fff;
    }
}

@keyframes bob-glow {
    from {
        transform: translateY(0);
        text-shadow: 0 0 5px #fff;
    }
    to {
        transform: translateY(15px);
        text-shadow: 0 0 10px #fff;
    }
}

header h1 {
    display: inline;
    float: left;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    float: right;
}

nav ul li a {
    color: #fff;
    display: block;
    padding: 8px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: rgb(232, 135, 109);
}

nav ul li a:active, nav ul li a.active {
    color: rgb(56, 109, 227);;
}

footer {
    background-color: rgb(2, 4, 9);
    color: #fff;
    text-align: center;
}
