@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.message-box .material-icons {
    vertical-align: middle;
    text-align: center;
}

.warning-box {
    color: #d73a49;
}

.important-box {
    color: #d93f0b;
}

.info-box {
    color: #0366d6;
}
